@model IMarket.Models.Db.ProductCategory
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading"> Create New Product </div>
    @using (Html.BeginForm("Create","ProductCategories"))
    {
    <div class="panel panel-body">

            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col col-md-4">
                    Name
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
 
            </div>
        
    </div>
    <div class="panel-footer">
        <input  type="submit" value="Save" class="btn btn-success"/>
        <a class="btn btn-default" href="@Url.Action("Index", "ProductCategories")">Back</a>
    </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
