@model IMarket.Models.Db.ProductCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

 


<div>
    <div class="panel panel-info">
        <div class="panel-heading"> @Model.Name</div>
        <div class="panel panel-body">
            <h3 class="alert alert-info">Are you sure you want to delete this? @Model.Name</h3>
        </div>
        <div class="panel-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @*<a class="btn btn-default "@Url.Action("Index","Products")>Back</a>*@
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>


</div>
