@model IMarket.Models.Db.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

 
<div>
    <div class="panel panel-info">
        <div class="panel-heading"> <p>Are you sure you want to delete this? @Model.Name</p> </div>
        <div class="panel panel-body">

            <div class="alert alert-info">
                
                <div class="row">
                    <div class="col-lg-2"><div>Name</div> @Model.Name</div>
                    <div class="col-lg-2"><div>Category</div> @Model.ProductCategory.Name</div>
                </div>
            </div>


        </div>
        <div class="panel panel-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="form-actions no-color">
               <input type="submit" class="btn btn-danger" value="Delete"/>
                <a class="btn btn-default" href="@Url.Action("Index", "Products")">Back to List</a>
              
            </div>

            }
        </div>
    </div>

</div>
