@model IMarket.Models.Db.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel panel-body">
        <div class="row">

            @if(Model.Image!=null)
                {
                    <img  src="~/Assets/@Model.Image" style="width:180px" class="img-thumbnail"/>
                }
            <div class="col-md-6">
                <div>Category</div>
                @Model.ProductCategory.Name
            </div>

            <div class="col-md-6">
                <div>Name</div>
                @Model.Name
            </div>

            <div class="col-md-6">
                <div>Price</div>
                @Model.Price
            </div>

            <div class="col-md-6">
                <div>Qty</div>
                @Model.Qty
            </div>

            <div class="col-md-6">
                <div>SKU</div>
                @Model.SKU
            </div>



            <div class="col-md-12">
                <div>Description</div>
                @Model.Description
            </div>
            

        </div>
    </div>
</div>
 
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
