@model IEnumerable<IMarket.Models.Db.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

 @if (TempData["Product"] != null)
 {
     <div class="alert alert-info">@TempData["Product"]</div>
 }

<div>
    <a class="btn btn-success" href="@Url.Action("Create")">Create New</a>
</div>


<div class="panel panel-info">
    <div class="panel-heading">Product List</div>
    <div class="panel panel-body">
        <table class="table" id="tbl">
            <thead>
            <tr>
                <th>
                    Image 
                </th>
                <th>
                    Category
                </th>
                <th>
                    Name
                </th>

                <th>
                    SKU
                </th>

                <th></th>
            </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Image != null)
                        {
                            <img style="width:180px;border-image" src="~/Assets/@item.Image"  class="img img-thumbnail"/>
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SKU)
                    </td>

                    <td>
                        <a style="border-radius:10px" class="btn btn-success" href="@Url.Action("Edit", "Products", new {id = item.Id})"> Update </a>

                        <a style="border-radius:10px" class="btn btn-danger" href="@Url.Action("Delete", "Products", new {id = item.Id})"> Delete </a>
                        <a style="border-radius:10px" class="btn btn-info" href="@Url.Action("Details", "Products", new {id = item.Id})"> Details </a>



                    </td>
                </tr>
            }

        </table>
    </div>
</div>

 

